*{
    margin: 0;
    padding: 0;
}
body,html{
    height: 100%;
    width: 100%;
    background-color: rgb(21, 21, 21);

}
.calculator-box{
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    border: 10px solid rgb(136, 188, 255);
    background-color: rgb(136, 188, 255);
    
    width: 350px;
    height: 534px;
    border-radius: 5px;
}
.element{
    background-image: url(/이예슬/img/sinzzang.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 5px;
    padding: 9px;
}
.element .return{
    border-radius: 8px;
    background-color: rgb(181, 230, 255);
}
.element td{
    /* background-color: rgb(181, 230, 255, ); */
    height: 80px;
    width: 85px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255, 0);

    text-align: center;
    font-weight: bolder;
}
.return .record{
    height: 30%;
}
.return .result{
    height: 70%;
}
button{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-color: rgb(181, 230, 255, 0.95);
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 3px 2px 3px darkgrey;
    font-weight: bolder;
}